<ion-view view-title="Schools">
  <ion-content ng-init='fetchMajor()' class='main-content'>
    <h1>Schools list</h1>
    <ion-list>
    <!-- {{schools}} -->
    	<table class='table'>
    		<tr class='headertable'>
    			<th>Major name</th>
    			<th>Major Chinese Name</th>
    			<th>Type</th>
    			<th>Department</th>
    			<th>Country</th>
    			<th>Edit</th>
                <th>Remove</th>
    		</tr>
	    	<tr ng-repeat='major in majors track by $index '>
		    	<td style='max-width:300px;'>{{major.name}}</td>
		    	<td style='max-width:300px;'>{{major.chinese_name}}</td>
		    	<td>{{major.DegreeType}}</td>
		    	<td>{{major.dept}}</td>
		    	<td>{{major.country}}</td>
		    	<td><a href='#' class='btn btn-sm btn-warning'> Edit</a></td>
                <td><a href='#' class='btn btn-sm btn-danger'> Remove</a></td>
		    </tr>
	    </table>
	</ion-list>
  </ion-content>