/* Empty. Add your own CSS if you like */
/* We over write the main feature of the menu and header */
.bar.bar-stable {
  border-color: white !important;
  background-color: #c81042 !important;
  background-image: white !important;
  color: white;
}

.bar.bar-stable .title {
  color: white !important;
}

.bar-stable .button.button-clear {
  color: white !important;
}

.menu-left .scroll-content.ionic-scroll.has-header{
	background: white !important;
	top:150px;
}

.menu-left .scroll-content.ionic-scroll.has-header .item {
  border-color: #c81042;
  background-color:white ;
  color: #c81042;
}

.menu-left .scroll-content.ionic-scroll.has-header .item-complex .item-content, .item-radio .item-content {
  background-color: white;
  font-weight: bold;
}

tr.headertable{
	border-radius: 10px 10px 0 0;
  	-webkit-border-radius: 10px 10px 0 0;
  	-moz-border-radius: 10px 10px 0 0;
  	background-color: #c81042;
}

th{
  display: table-cell;
  padding: 1em;
  text-align: left;
  margin: .5em 1em;
  border: 1px solid #FFF;
  color: white;
  padding: 1em;
}

.main-content{
	padding:10px;
}

.menu .bar-header {
  z-index: 11;
  height: 150px;
}

.logonp{
/*	position: absolute;
	top:50px;
	left:30px;*/
	margin:auto;
	width:50px;
	height:50px;
}